@page "/Recebimentos"

@inject RecebimentoDAO recebimentoDAO;

<PageTitle>Recebimentos</PageTitle>


<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Recebimentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pedido</th>
            <th>Valor</th>
            <th>FormaPagamentoRec</th>
            <th>Comprovante</th>
            <th>ClienteRec</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;

            @foreach (var recebimento in listaRecebimentos)
            {
                <tr>
                    <td>@recebimento.Id</td>
                    <td>@recebimento.Pedido</td>
                    <td>@recebimento.FormaPagamentoRec</td>
                    <td>@recebimento.Comprovante</td>
                    <td>@recebimento.ClienteRec</td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

@code {
    private List<Recebimento> listaRecebimentos = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listaRecebimentos = recebimentoDAO.listarTodos();
    }

}


