@using AppWeb.Models

@page "/funcionarios"

@inject FuncionarioDAO funcionarioDAO;

<PageTitle>Funcionários</PageTitle>

<div class="container-principal">
    <div class="seta-voltar">
        <i class="fas fa-arrow-left"></i>
    </div>

    <header class="header-pagina">
        <h1>funcionários</h1>
        <div class="subtitulo">geral</div>
    </header>

    <div class="filtro-cargo">
        <label for="selecionar-cargo" class="label-cargo">selecionar cargo:</label>
        <select id="selecionar-cargo" class="combo-cargo">
            <option value="" disabled selected>Todos os Cargos</option>
            <option value="cozinheira">Cozinheira</option>
            <option value="tesoureira">Tesoureira</option>
            <option value="boleira">Boleira</option>
            <option value="entregadora">Entregadora</option>
        </select>
    </div>

    <main class="tabela-funcionarios">

        @if (listarFuncionario != null && listarFuncionario.Any())
        {
            @foreach (var funcionario in listarFuncionario)
            {
                <div class="funcionario-item">
                    <span class="nome">@funcionario.Nome</span>
                    <span class="cargo-tag @("cargo-" + funcionario.Cargo.ToLower())">@funcionario.Cargo</span>

                    <button class="btn-acao btn-editar"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn-acao btn-excluir"><i class="fas fa-trash-alt"></i></button>
                </div>
            }
        }
        else
        {
            <p>Carregando funcionários ou a lista está vazia...</p>
        }

        <div class="scroll-bar-simulado"></div>
    </main>


    <div class="container-principal">
        <h1>Funcionário</h1>
        <a href="funcionarios/novo"
           class="btn-adicionar">
            adicionar
        </a>

    </div>
    @foreach (var funcionario in listarFuncionario)
    {
        <div class="funcionario-item">
            <span class="nome">@funcionario.Nome</span>
            <span class="cargo-tag @("cargo-" + funcionario.Cargo.ToLower())">@funcionario.Cargo</span>

            <a href="/funcionarios/@funcionario.Id/editar">
                <button class="btn-acao btn-editar"><i class="fas fa-pencil-alt"></i></button>
            </a>

            <button class="btn-acao btn-excluir"><i class="fas fa-trash-alt"></i></button>
        </div>
    }

</div>

@code {
    private List<Funcionario> listarFuncionario = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listarFuncionario = funcionarioDAO.listarTodos();
    }

}


