@page "/funcionarios/novo"
@rendermode InteractiveServer

@using AppWeb.Models;
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

@inject FuncionarioDAO funcionarioDAO;
@inject NavigationManager Navigation;

<PageTitle>Funcionario - Novo</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Novo Funcionario</h1>

@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}

<div class="row">
    <div class="col">
        <EditForm Model="_novoFuncionario" OnValidSubmit="Salvar">

            <DataAnnotationsValidator />
            <ValidationSummary /> <div class="form-group mb-4">
                <label>Nome</label>
                <InputText @bind-Value="_novoFuncionario!.Nome" class="form-control" placeholder="Nome completo do funcionário" />
                <ValidationMessage For="@(() => _novoFuncionario!.Nome)" />
            </div>

            <div class="form-group mb-4">
                <label>Cargo</label>
                <InputText @bind-Value="_novoFuncionario!.Cargo" class="form-control" placeholder="Cargo/Função" />
                <ValidationMessage For="@(() => _novoFuncionario!.Cargo)" />
            </div>

            <div class="form-group mb-4">
                <label>Data de Nascimento</label>
                <InputText @bind-Value="_novoFuncionario!.DataNasc" class="form-control" placeholder="Ex: DD/MM/AAAA" />
                <ValidationMessage For="@(() => _novoFuncionario!.DataNasc)" />
            </div>

            <div class="form-group mb-4">
                <label>Email</label>
                <InputText @bind-Value="_novoFuncionario!.Email" type="email" class="form-control" placeholder="email@exemplo.com" />
                <ValidationMessage For="@(() => _novoFuncionario!.Email)" />
            </div>

            <div class="form-group mb-4">
                <label>Telefone</label>
                <InputText @bind-Value="_novoFuncionario!.Telefone" type="tel" class="form-control" placeholder="Ex: (XX) XXXX-XXXX" />
                <ValidationMessage For="@(() => _novoFuncionario!.Telefone)" />
            </div>

            <div class="form-group mb-4">
                <label>CPF</label>
                <InputText @bind-Value="_novoFuncionario!.Cpf" class="form-control" placeholder="Apenas números" />
                <ValidationMessage For="@(() => _novoFuncionario!.Cpf)" />
            </div>

            <div class="form-group mb-4">
                <label>CEP</label>
                <InputText @bind-Value="_novoFuncionario!.Cep" class="form-control" placeholder="Ex: XXXXX-XXX" />
                <ValidationMessage For="@(() => _novoFuncionario!.Cep)" />
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </EditForm>
    </div>
</div>

@code {
    private string? erro = null;
    [SupplyParameterFromForm]
    private Funcionario? _novoFuncionario { get; set; } = new Funcionario();


    private void Salvar()
    {
        try
        {
            funcionarioDAO.Inserir(_novoFuncionario);

            Navigation.NavigateTo(uri: "/funcionarios");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }

    }
}