@page "/clientes"

@inject ClienteDAO clienteDAO;

<PageTitle>Clientes</PageTitle>


<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do cliente</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;

            @foreach (var cliente in listaClientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Cidade</td>
                    <td>@cliente.Estado</td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

@code {
    private List<Cliente> listaClientes = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listaClientes = clienteDAO.listarTodos();
    }

}


