@page "/clientes"
@inject IJSRuntime jsRuntime;
@inject ClienteDAO clienteDAO;

<PageTitle>Clientes</PageTitle>

<div class="container-principal-clientes">

    <div class="header-pagina">
        <h1>clientes</h1>
        <span class="subtitulo">gerencie e visualize todos os clientes</span>
    </div>

    <a href="/clientes/novo" class="btn-adicionar mb-4">Adicionar Novo Cliente</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do cliente</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th style="width: 80px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @{

                @foreach (var cliente in listaClientes)
                {
                            <tr>
                                <td>@cliente.Id</td>
                                <td>@cliente.Nome</td>
                                <td>@cliente.Telefone</td>
                                <td>@cliente.Email</td>
                                <td>@cliente.Cidade</td>
                                <td>@cliente.Estado</td>

                                <td class="botoes-acao-celula">
                                    <a href="/clientes/editar/@cliente.Id" class="btn-acao btn-editar">✏️</a>
                                    <button @onclick="() => ExcluirCliente(cliente.Id)" class="btn-acao btn-excluir">🗑️</button>
                                </td>
                            </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    private List<Cliente> listaClientes = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listaClientes = clienteDAO.listarTodos();
    }

   private async Task ExcluirCliente(int id)
    {

        bool confirmado = await jsRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja excluir o cliente " + id + "?");

        if (confirmado)
        {

            clienteDAO.Excluir(id);


            CarregarDados();
        }
    }
}