@page "/produto"

@inject ProdutoDAO produtoDAO;

<PageTitle>Produto</PageTitle>


<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Produto</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>descricao</th>
            <th>quantidade</th>
            <th>valor</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;

            @foreach (var produto in listarProduto)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Quantidade</td>
                    <td>@produto.Valor</td>
                </tr>

                contador++;
            }
        }
    </tbody>
   
</table>
<a href="/produtos/novo"
   class="flex items-center gap-3 p-2 rounded-lg hover:bg-brown-100 dark:hover:bg-brown-900 text-gray-700 dark:text-gray-200">
    <span> adicionar Produtos</span>
</a>

@code {
    private List<Produto> listarProduto = new();

    protected override void OnInitialized()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        listarProduto = produtoDAO.listarTodos();
    }

}

